%ul
  %li hello
  %li whatup
  - what = 10 * 10
  %li= what
  =what*10
=what*20
%p{class: :fancy}wow
#content okay
.my-schwaddy wow
.my-schwaddy= 1000 / 2
.row.official
  .col-sm-12
    "just checking"