%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{ :href => "https://www.github.com/schwad" }
        %img{ :src => "http://lorempixel.com/100/60/", :alt => "Brand"}